{% extends 'base.html.twig' %}

{% block title %}Graph{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>{% endblock %}

{% block body %}
    <div>
        <canvas id="myChart"></canvas>
        <p></p>
        <p></p>
    </div>


    <script>
        const ctx = document.getElementById('myChart');
        const date = [{% for d in date %}
            "{{ d }}",
            {% endfor %}]
        const price = [{% for i in price %}
            "{{ i }}",
            {% endfor %}]

        new Chart(ctx, {
            type: 'line',
            data: {
                labels: date,
                datasets: [{
                    label: 'Price and Date',
                    data: price,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

{% endblock %}
